<!DOCTYPE html>
<html>
<head>
<title>Principal</title>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
</head>
<body>
	<div align="center" class="page-header">
		<h3>Bienvenido [nombre de usuario aqui]</h3>

	</div>
	<br>
	<div align="center">
		<div class="panel panel-primary" style="width: 85%">
			<div class="panel-heading">
				<h3 class="panel-title">Menu principal</h3>
			</div>
			<div class="center-block" style="width: 80%">
				<br /> <a href="#" id="btnLogout"
					class="btn btn-primary btn-lg btn-block" role="button">Jugar
					Partida</a><br /> <a href="/admin" id="btnAdmin"
					class="btn btn-primary btn-lg btn-block" role="button">Admin</a><br />
				<a href="/estadisticas" id="btnEstadisticas"
					class="btn btn-primary btn-lg btn-block" role="button">Estadisticas</a><br />
					<a href="/logout" class="btn btn-primary btn-lg btn-block">Cerrar sesión</a>
			</div>
		</div>
	</div>
</body>
</html>