<!DOCTYPE html>
<html>
<head>
<title>Tablero</title>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<style type="text/css">
			#header {
				text-align: center;
			}
			#wrapper {
				margin:0 auto;
				width:600px;
			}
			#submain {
				margin:0 auto;
				width:600px;
			}
			#sub-left {
				float:left;
				
			}
			#sub-right {
				float:right;			
				
			}
			td {
				text-align:center;
				vertical-align:middle;
			}
		</style>
<script type="text/javascript">
	
</script>
</head>
<body>
	<div id="sub-main">
				<div id="sub-left">
				<a href="#"> <img src="@routes.Assets.at("images/dado.png")"  width="300"></a>
				<p><input type="text" class="form-control" placeholder="Tirada del dado" aria-describedby="basic-addon1" disabled><br/><br/></p>
		<ul class="list-group">
			<li class="list-group-item list-group-item-success">@session().get("id")</li>
			<!-- <li class="list-group-item list-group-item-info">Jugador2</li>
			<li class="list-group-item list-group-item-warning">Jugador3</li>
			<li class="list-group-item list-group-item-danger">Jugador4</li> -->
		</ul>
		
		<a href="/principal" class="btn btn-primary btn-lg btn-block" role="button">Volver al menú principal <a/>
	</div>
	
<div id="sub-right">
	<table class="table-space">
		<tfoot></tfoot>
		<thead></thead>
		<tbody>
			<tr>
				<td><a href="#"> <img src="@routes.Assets.at("images/amarillo.png")" class="img-circle" width="120"></a></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/rojo.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/verde.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/azul.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/celeste.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/amarillo.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/rojo.png")" class="img-circle" width="120"></a></td>
			</tr>
			<tr>
				<td><a href="#"> <img src="@routes.Assets.at("images/verde.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/amarillo.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/verde.png")" class="img-circle" width="80"></a></td>
			</tr>
			<tr>
				<td><a href="#"> <img src="@routes.Assets.at("images/rojo.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#"><img src="@routes.Assets.at("images/rojo.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#"><img src="@routes.Assets.at("images/azul.png")" class="img-circle" width="80"></a></td>
			</tr>
			<tr>
				<td><a href="#"><img src="@routes.Assets.at("images/azul.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/celeste.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/amarillo.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"><img src="@routes.Assets.at("images/verde.png")" class="img-circle" width="120"></a></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/celeste.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"><img src="@routes.Assets.at("images/azul.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"><img src="@routes.Assets.at("images/rojo.png")" class="img-circle" width="80"></a></td>
			</tr>
			<tr>
				<td><a href="#"><img src="@routes.Assets.at("images/celeste.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/azul.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/amarillo.png")" class="img-circle" width="80"></a></td>
			</tr>
			<tr>
				<td><a href="#"> <img src="@routes.Assets.at("images/amarillo.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/rojo.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#"> <img src="@routes.Assets.at("images/verde.png")" class="img-circle" width="80"></a></td>
			</tr>
			<tr>
				<td><a href="#"><img src="@routes.Assets.at("images/azul.png")" class="img-circle" width="120"></a></td>
				<td><a href="#"><img src="@routes.Assets.at("images/verde.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"><img src="@routes.Assets.at("images/rojo.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"><img src="@routes.Assets.at("images/celeste.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"><img src="@routes.Assets.at("images/amarillo.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"><img src="@routes.Assets.at("images/azul.png")" class="img-circle" width="80"></a></td>
				<td><a href="#"><img src="@routes.Assets.at("images/celeste.png")" class="img-circle" width="120"></a></td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	
</body>
</html>
