<!DOCTYPE html>
<html>
<head>
<title>Tablero</title>
<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<style type="text/css">
			#header {
				text-align: center;
			}
			#wrapper {
				margin:0 auto;
				width:600px;
			}
			#submain {
				margin:0 auto;
				width:600px;
			}
			#sub-left {
				float:left;
				
			}
			#sub-right {
				float:right;			
				
			}
			td {
				text-align:center;
				vertical-align:middle;
			}
		</style>

</head>
<body>
	<div id="dialog" title="[CATEGORIA]">
		<div align="center" class="page-header">
			<h3>AQUI VA LA PREGUNTA A MOSTRAR</h3>
		</div>
		<br>
		<div align="center">
			<div class="panel panel-primary" style="width: 90%">
				<div class="center-block" style="width: 90%">
					<a href="#" id="btnBorrar"
							class="btn btn-primary btn-block" role="button">1a respuesta</a><br />
					<a href="#" id="btnBorrar"
							class="btn btn-primary btn-block" role="button">2a respuesta</a><br />
					<a href="#" id="btnBorrar"
							class="btn btn-primary btn-block" role="button">3a respuesta</a><br />
					<a href="#" id="btnBorrar"
							class="btn btn-primary btn-block" role="button">4a respuesta</a><br />
				</div>
			</div>
		</div>
		<div class="progress">
			<progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
			<span id="status"></span>
			<h1 id="finalMessage"></h1>
			<script>
				function progressBarSim(al) {
				  var bar = document.getElementById('progressBar');
				  var status = document.getElementById('status');
				  status.innerHTML = al+"%";
				  bar.value = al;
				  al++;
					var sim = setTimeout("progressBarSim("+al+")",100);
					if(al == 100){
					  status.innerHTML = "100%";
					  bar.value = 100;
					  clearTimeout(sim);
					  var finalMessage = document.getElementById('finalMessage');
					  finalMessage.innerHTML = "Process is complete";
					}
				}
				var amountLoaded = 0;
				progressBarSim(amountLoaded);
			</script>
		</div>
	</div>


	<div id="sub-main">
		<div id="sub-left">
		<ul class="list-group">
			<li class="list-group-item list-group-item-success">@session().get("id")</li>
			<!-- <li class="list-group-item list-group-item-info">Jugador2</li>
			<li class="list-group-item list-group-item-warning">Jugador3</li>
			<li class="list-group-item list-group-item-danger">Jugador4</li> -->
		</ul>
		<a href="#" onClick="throwdice()"> <img src="@routes.Assets.at("images/dado.png")"  width="150"></a></br></br>
		<p><input id="myText" type="text" class="form-control" placeholder="Tirada del dado" aria-describedby="basic-addon1" disabled><br/><br/></p>
		
		<a href="/principal" class="btn btn-primary btn-lg btn-block" role="button">Volver al menú principal <a/>
	</div>
	
	<script>
		function throwdice(){
		//create a random integer between 0 and 5
		var randomdice = Math.floor(Math.random() * (6 - 1 + 1)) + 1;
		document.getElementById("myText").value = randomdice
		}
	</script>
	
<div id="sub-right">
	<table class="table-space">
		<tfoot></tfoot>
		<thead></thead>
		<tbody>
			<tr>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/amarillo.png")" class="img-circle" width="120"></a></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/rojo.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/verde.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/azul.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/celeste.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/amarillo.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/rojo.png")" class="img-circle" width="120"></a></td>
			</tr>
			<tr>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/verde.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/amarillo.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/verde.png")" class="img-circle" width="80"></a></td>
			</tr>
			<tr>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/rojo.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#" class="opener"><img src="@routes.Assets.at("images/rojo.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#" class="opener"><img src="@routes.Assets.at("images/azul.png")" class="img-circle" width="80"></a></td>
			</tr>
			<tr>
				<td><a href="#" class="opener"><img src="@routes.Assets.at("images/azul.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/celeste.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/amarillo.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"><img src="@routes.Assets.at("images/verde.png")" class="img-circle" width="120"></a></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/celeste.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"><img src="@routes.Assets.at("images/azul.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"><img src="@routes.Assets.at("images/rojo.png")" class="img-circle" width="80"></a></td>
			</tr>
			<tr>
				<td><a href="#" class="opener"><img src="@routes.Assets.at("images/celeste.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/azul.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/amarillo.png")" class="img-circle" width="80"></a></td>
			</tr>
			<tr>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/amarillo.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/rojo.png")" class="img-circle" width="80"></a></td>
				<td><p></p></td>
				<td><p></p></td>
				<td><a href="#" class="opener"> <img src="@routes.Assets.at("images/verde.png")" class="img-circle" width="80"></a></td>
			</tr>
			<tr>
				<td><a href="#" class="opener"><img src="@routes.Assets.at("images/azul.png")" class="img-circle" width="120"></a></td>
				<td><a href="#" class="opener"><img src="@routes.Assets.at("images/verde.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"><img src="@routes.Assets.at("images/rojo.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"><img src="@routes.Assets.at("images/celeste.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"><img src="@routes.Assets.at("images/amarillo.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"><img src="@routes.Assets.at("images/azul.png")" class="img-circle" width="80"></a></td>
				<td><a href="#" class="opener"><img src="@routes.Assets.at("images/celeste.png")" class="img-circle" width="120"></a></td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	<script type="text/javascript">
		$( "#dialog" ).dialog({ autoOpen: false });
		$( ".opener" ).click(function() {
		   $( "#dialog" ).dialog( "open" );
		});
    </script>
</body>
</html>
